footer {
    position: fixed;
    bottom: 0;
    left: 0;
    border-radius: 1px;
    border: 1px solid black;
    width: 100vw;
    height: 50px;
    background-color: #8f989b;
    display: flex;
    justify-content: center;
    align-items: center;
}